In [1]:
import os
os.chdir('D:\MachineLearning\mydata')
import pandas as pd
import numpy as np
import cv2
import sklearn.preprocessing as pre
import sklearn.linear_model as lin
import sklearn.metrics as met
import sklearn.model_selection as mod
import sklearn.feature_extraction.text as tex

In [132]:
train = pd.read_csv('train.csv' , encoding='latin')
test = pd.read_csv('test.csv' , encoding='latin')

In [177]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [158]:
train.shape

(891, 12)

In [174]:
train.Age.value_counts().sort_values(ascending=False).head(10)

24.0    30
22.0    27
18.0    26
19.0    25
30.0    25
28.0    25
21.0    24
25.0    23
36.0    22
29.0    20
Name: Age, dtype: int64

In [200]:
train.sort_values('Age',ascending=False).head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C

In [178]:
test = test.fillna(value={'Age': 30 })

In [185]:
xtrain = train.drop(['PassengerId','Survived','Name','Ticket', 'Fare', 'Cabin'],axis=1)

In [187]:
xtest = test.drop(['PassengerId','Name','Ticket', 'Fare', 'Cabin'],axis=1)

In [188]:
ytrain = train['Survived']

In [209]:
xtrain = pd.get_dummies(xtrain)
xtest = pd.get_dummies(xtest)

In [211]:
from sklearn.preprocessing import StandardScaler

In [212]:
sc = StandardScaler()

In [214]:
xtrain=sc.fit_transform(xtrain)
xtest=sc.fit_transform(xtest)

In [216]:
logi=lin.LogisticRegression()

In [217]:
tit=logi.fit(xtrain,ytrain)

In [226]:
predictions = tit.predict(xtest)

In [228]:
submission = pd.DataFrame ({'PassengerId':test.PassengerId,'Survived':predictions})

In [230]:
submission.to_csv('submission.csv', index=False)